.header {
  background-color: #333;
  padding: 1rem 0;
  position: relative;

  border: 5px solid whitesmoke;
  border-top-right-radius: 40%;

  border-bottom-left-radius: 40%;
}

.header h1 {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 3px;
  position: relative;
  margin-bottom: 0.5rem;
}

.header p {
  color: #ccc;
  text-align: center;
  font-size: 1rem;
}
